/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/open-sans-v18-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-condensed-300 - latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-condensed-v15-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-condensed-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-condensed-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-condensed-v15-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-condensed-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-condensed-v15-latin-300.svg#OpenSansCondensed') format('svg'); /* Legacy iOS */
}

/* open-sans-condensed-700 - latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-condensed-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-condensed-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-condensed-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-condensed-v15-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-condensed-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-condensed-v15-latin-700.svg#OpenSansCondensed') format('svg'); /* Legacy iOS */
}

/* inconsolata-regular - latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inconsolata-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/inconsolata-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inconsolata-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inconsolata-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inconsolata-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inconsolata-v20-latin-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

/* inconsolata-700 - latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inconsolata-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/inconsolata-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inconsolata-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inconsolata-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inconsolata-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inconsolata-v20-latin-700.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #000;
  color: #fff;
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
}

a {
  color: #eee;
  text-decoration: none;
}

a:hover {
  text-decoration:none;
  outline: 1px dotted #666;
}

p {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h1 a, h2 a, h3 a, h4 a, h5 a {
  font-weight: 700;
  font-family: 'Open Sans Condensed';
  color: #fff;
}

code, pre {
  font-family: 'Inconsolata';
  overflow-x:scroll;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: auto;
  height: auto;
}

.wp-caption {
  max-width: 100%;
}

.page-width {
  max-width: 800px;
  padding: 0;
  margin: 0 auto;
}


#main-header {
  padding: .2rem;
  margin: 0 0 1rem 0;
  border-bottom: 1px solid #aaa;
}

#main-header h1 {
  text-transform:uppercase;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-size: 1rem;
  font-weight: 700;
  color: #bbb;
}

#main-header a {
  color: #bbb;
}

#main-content {
  padding: 0;
  margin: 0;
}

#main-footer {
  border-top: 1px solid #aaa;
  padding: .2rem;
  margin: 1rem 0 0 0;
}


nav.child-categories {
  border: 3px solid red;
  padding: 10px;
  margin: 10px;
}

.artikel {
  border: 1px solid #555;
  border-radius: .5rem;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 0 0 10px 0 #fff;
  position: relative;
  z-index: 2;
  background-color: #000;
}

.artikel-bild {
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  border-top: 1px solid #555;
  border-radius: .5rem .5rem 0 0;
  margin: 1.5rem auto -1rem auto;
  max-width: calc( 100% - 1rem );
  padding: .5rem;
  position: relative;
  box-shadow: 0 0 10px 0 #fff;
}

.artikel-meta {
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
  border-radius: 0 0 .5rem .5rem;
  margin: -1rem auto 1rem auto;
  max-width: calc( 100% - 1rem );
  padding: .5rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px 0 #fff;
}

#post-comments {
  border-top: 3px double #aaa;
}

#post-comments .comment.depth-1 {
  overflow: hidden;
  border: 1px solid #bbb;
  margin: 1em 0 2em;
  background: lightyellow;
}

#post-comments ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#post-comments ul.children {
  margin-left: 10px;
}

#post-comments .comment-body {
  border: 1px dashed lightsalmon;
  background: #fff;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

#post-comments .comment-body .comment-author {
  background: lightsalmon;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 5px;
}

#post-comments .comment-body .comment-meta {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  flex: 1;
  padding: 5px;
  text-align: right;
  background: lightsalmon;
}

#post-comments .comment-body > p {
  flex: 0 0 100%;
}

#post-comments .comment-body .reply {
  flex: 0 0 100%;
  text-align: right;
}

#post-comments .comment-body .reply a {
  display: inline-block;
  border: 1px solid darkred;
  background: darkred;
  color: #fff;
  padding: .5em;
  text-align: center;
  font-weight: 700;
  border-radius: 6px;
}

